test
ice
obj/
html/
latex/

Makefile
ice.make
test.make

cscope.out
tags

src/proto/*.cc
src/proto/*.h

gamesave
testsave
log.txt
config.cfg

pdcurses.dll
premake4.exe
ice.exe
ice.ilk
ice.pdb
test.exe
test.ilk
test.pdb
ProjectIce.opensdf
ProjectIce.sdf
ProjectIce.sln
*.suo
ice.exe.lastcodeanalysissucceeded
ipch/

*.vcxproj.*

ice.vcxproj
test.vcxproj
ClassDiagram*
desktop.ini
premake4

*.dll

arial.ttf
