test
ice
obj/

Makefile
ice.make
test.make

cscope.out
tags

src/proto/*.cc
src/proto/*.h

gamesave
testsave
log.txt

pdcurses.dll
premake4.exe
ice.exe
ice.ilk
ice.pdb
ProjectIce.opensdf
ProjectIce.sdf
*.suo
