language: cpp

compiler: clang++

script: make
after_success: ./test

before_install:
 - pwd
 - ls -lah
 - sudo bash -c "echo 'deb http://lgp203.free.fr/ubuntu quantal universe' >> /etc/apt/sources.list.d/lgp203.free.fr.source.list"
 - sudo apt-get update
 - sudo apt-get install --force-yes -qq premake4 libboost-chrono1.48-dev
 - premake4 gmake
 - mkdir ~/termbox && cd ~/termbox
 - git clone https://github.com/nsf/termbox.git .
 - ./waf configure
 - ./waf
 - sudo cp build/src/*so* /usr/lib/
 - sudo cp src/termbox.h /usr/include/
 - ls -lah
 - cd ~/build/LauriM/ProjectIce
 - ls -lah

notifications:
  irc: "chat.freenode.net#ProjectIce"
