language: cpp

compiler: clang++

script: make
after_success: ./test

before_install:
 - sudo bash -c "echo 'deb http://lgp203.free.fr/ubuntu quantal universe' >> /etc/apt/sources.list.d/lgp203.free.fr.source.list"
 - sudo apt-get update
 - sudo apt-get install --force-yes -qq premake4
 - premake4 gmake
 - mkdir ~/termbox && cd ~/termbox
 - git clone https://github.com/nsf/termbox.git .
 - ./waf configure
 - ./waf
 - ls -lah

notifications:
  irc: "chat.freenode.net#ProjectIce"
